
# Windows folder settings
#########################
Folder Settings/

# CodeGear RAD Studio history folder
####################################
_history/
Debug_Build/

# deleted or temporary backup files
###################################
_*.*

# deleted or temporary folders
##############################
_*/
@bak*/
@tmp*/
@ignore*/

# CodeGear Debug_Build-folder
##############################
Debug_Build/*.*

# backups
#########
*.bak
*.~*
*.$$$

# executives and dlls
#####################
*.exe
*.dll

# libraries
###########
*.lib
!sqlite3_b.lib
!sqlite3_h2.lib
!hsLM_borland.lib

# objects, maps, linker etc. files
##################################
*.bpl
*.map
*.obj
*.ilc
*.ild
*.ilf
*.ils
*.tds
*.drc
*.dsw
*.mbr
*.mbt
*.mrt
*.dsk
*.xxxres
*.obr
*.ddp
*.bpi
*.pdi

#
##################################
B/Obj/*.res
B/StrRes/*.res
B/HConfig/HedsamConfig.res
B/HControl/HedsamConfig.res
C/HCalc/obj/*.res
C/HLink/obj/*.res
C/NodeUpdate/obj/*.res
C/PollViewer/obj/*.res
D/PollViewer/obj/*.res
C/PollerApp/obj/*.res
D/PollerApp/obj/*.res
D/EmailConfig/obj/*.res
D/EmailServer/obj/*.res
D/HHLx/obj/*.res
D/ApiBroker/obj/*.res
D/AperioBroker/obj/*.res
D/HxCalc/obj/*.res
D/HxLink/obj/*.res
D/HxSetup/obj/*.res
D/HxSetupMS/obj/*.res
D/HxConfig/obj/*.res
D/HxConfigDB/obj/*.res
D/TAxConnect/obj/*.res
D/DbUpdate/obj/*.res
D/SubSystemManager/obj/*.res
D/SystemManager/obj/*.res
D/RaksaCases/obj/*.res
D/Hslib/obj/*.res
D/Mpl/obj/*.res
D/GdprTool/obj/*.res
D/ServiceManager/obj/*.res
ToolsD/LicenseViewer/obj/*.res
ToolsD/DatabusSimulator/obj/*.res
ToolsD/DbConvert15-Cmd/obj/*.res
ToolsD/RegistGeneratorStatic/obj/*.res
ToolsD/uhdbt/obj/*.res
ToolsD/UHDBT_Credit/obj/*.res
ToolsD/xauth/obj/*.res
ToolsD/xpair/obj/*.res
ToolsD/activate-license/obj/*.res
ToolsD/activate-license/obj/*.res
ToolsD/hedsam-licensecode/obj/*.res
ToolsD/aperio-tester/obj/*.res
ToolsD/api-tester/obj/*.res
ToolsD/license2key/obj/*.res
ToolsD/ApiSimulator/obj/*.res
ToolsD/AperioSimulator/obj/*.res
!B/HConfig/MenuIcons.res
!B/HControl/DeviceImages.res

# precompiled headers
#####################
*.csm
*.#??

# others
########
*.dcu
*.db
*.pgn
*.png
*.zip
rlog*.txt
basic_events.txt
hslink.txt
*.WinMerge
*.pdf
*.license
*.pyc
*.bmp
*.pdn
*.harc
*.pch
*.todo
*.wav
*.ep
*.vsdx
*.docx
*.hconfig
*.conf
*.dta
*.dfu
*.lnk
pex*
*.htemplate
poller_blog.txt
hcalc_blog.txt
UHDBT_1_0.xml
auditdatabase.xml
uhdbt.credit
ExMailerConfig.conf
