
# Windows folder settings
#########################
Folder Settings/

# CodeGear RAD Studio history folder
####################################
_history/
Debug_Build/

# deleted or temporary backup files
###################################
_*.*

# deleted or temporary folders
##############################
_*/
@bak*/
@tmp*/
@ignore*/

# CodeGear Debug_Build-folder
##############################
Debug_Build/*.*

# backups
#########
*.bak
*.~*
*.$$$

# executives and dlls
#####################
*.exe
*.dll

# libraries
###########
*.lib
!sqlite3_b.lib
!sqlite3_h2.lib
!hsLM_borland.lib

# objects, maps, linker etc. files
##################################
*.bpl
*.map
*.obj
*.ilc
*.ild
*.ilf
*.ils
*.tds
*.drc
*.dsw
*.mbr
*.mbt
*.mrt
*.dsk
*.xxxres
*.obr
*.ddp
*.bpi
*.pdi
*.a
*.d
*.o

#
##################################
obj/
.vs/

# precompiled headers
#####################
*.csm
*.#??

# others
########
*.dcu
*.db
*.pgn
*.png
*.zip
rlog*.txt
basic_events.txt
hslink.txt
*.WinMerge
*.pdf
*.license
*.pyc
*.bmp
*.pdn
*.harc
*.pch
*.todo
*.wav
*.ep
*.vsdx
*.docx
*.hconfig
*.conf
*.dta
*.dfu
*.lnk
pex*
*.htemplate
poller_blog.txt
hcalc_blog.txt
UHDBT_1_0.xml
auditdatabase.xml
uhdbt.credit
ExMailerConfig.conf
